.container{
    position: relative;
    text-align: center;     
    margin:0 auto ; 
    padding-top: 50px;      
}
@media (min-width: 768px) and (max-width: 1440px) {
    .container{
        max-width: 768px;
    }
}

@media (min-width: 1440px) {
    .container{
        max-width: 1440px;
    }
    
}

.btnGoogle{
    position: absolute;
    top:200px;
    left: calc(50% - 100px);   
}