.container{
  border-radius: 14px;
  width: 80%;
  height: 40px;
  z-index: 999;   
}
.input{
  border: 1px solid var(--color-header-border);
  background-color: var(--color-bg-main);
  border-radius: 14px;
  padding: 8px 16px; 
  width: 100%;
  height: 40px;
  outline: none;
  transition: border-color 0.2s ease;
}

.inputWrap:focus-within .input {
  border-color: var(--color-text-active);
}
.inputWrap:hover .input {
  border-color: var(--color-text-active);
}

.input::placeholder {
  color: var(--color-input-search);
  font-size: 12px;
  font-weight: 300;
  line-height: 120%;
}
.select{
  position: absolute;
  top: 40px;   
  width: 75%;
  background-color: var( --color-bg-main);
  z-index: 99;
  border-radius: 24px;
  padding: 10px 20px;
  text-align: left;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.select li{
  border-bottom: 1px solid var(--color-input-search);
  padding-bottom: 3px;
}