@use "../../styles/mixin_font.scss" as *;
@use "../../styles/mixin_adaptiv.scss" as *;

.desktopWrapper {
    @include respond(desktop) {
        margin-top: 0;
        width: calc(100vw - 550px);
        max-width: 100%;
        min-width: 0;
        box-sizing: border-box;
        min-height: auto;
        height: auto;
    }
}

.title {
    margin-bottom: 26px;
}

.back{
    position: absolute;
    top:20px;
    left: 17px;
    @include respond(desktop) {
        display: none;
    }
}
