@use "../../styles/mixin_font.scss" as *;
@use "../../styles/mixin_adaptiv.scss" as *;
.BorschPage{   
    position: relative;   
    @include respond(desktop) {         
        margin-top: 110px;        
        padding: 0 18px;        
    }    
}

.wrap{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
    @include respond(desktop) {       
        width: 100%;        
    }       
}

.btnClose{
    position: absolute;   
    right: 10px;
    top: 10px; 
     @include respond(desktop) {       
        width: 100%; 
        right: -90%;          
    }    
}

.title{
    @include mobileH2;
    color: var(--color-text-btn);
    text-align: center;
    margin: 40px 0 25px 0;
}
.card{
    position: relative;   
}
.box{
    position: absolute;
    top:10px;
    right: 10%;
    display: flex;
    gap:8px;
    z-index: 3;
}

.nameBorsch{
    @include mobileH4;
    margin-top: 16px;
    color: var(--color-text-btn);
}
.adress{
    @include caption;
    color: var(--color-text-main);
    margin-bottom: 16px;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-text-main); 
    @include caption;   
}

.grade{
    font-family: var(--font-family-main);
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 12px; 
    color:var(--color-text-btn)
}

.gradesFlex{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 16px;
}

.boxBtn{
    margin-top: 30px;
    margin-bottom: 30px;
}

.btn{
    display: block;
    list-style: none;    
    text-align:center;
    text-decoration: none; 
    width: 100%; 
    padding: 14px 20px;
    margin: 10px 0;
    @include button;  
    background-color: var(--color-btn-disabled);
    color:var( --color-text-btn-active);    
    border: none;
    border-radius: 14px;
    cursor: pointer;      
}

.comentsBox{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-top: 10px;
}
.avatarBox{
    display: flex; 
    gap: 16px;  
    width: 100%;    
    margin-bottom: 16px;
}
.photoBox{
    height: 44px;
    width: 44px;
   
}
.photoStyle {
    width: 100%; 
    height: 100%; 
    border-radius: 50%;    
    object-fit: cover
}
.textWrapp{
    display: flex;
    flex-direction: column;    
    gap: 4px;
    width: 100%;
}
.textBox{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.textAvatar{
   @include mobileH4; 
   color: var(--color-text-btn);
   margin: 0;
}
.textDate{
    @include caption;
    color: var(--color-text-main);
}

.paginationControls {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
}

.paginationControls button {
    width: 164px;
    padding: 18px 55px;
    background-color:var(--color-input-active);
    border: none;
    border-radius: 14px;
    cursor: pointer;
}

.paginationControls button:disabled {
  opacity: 0.4;
  cursor: default;
}
