.wrapper {
    background-color: var(--color-bg-grey);
    min-height: 100vh;
    padding: 16px 16px 24px;
    text-align: center;
}

.authContainer {
    padding: 40px 28px 28px;
    text-align: center;
}