
.container{
    height: 100vh;
    max-width: 100vw;   
    display: flex; 
    flex-direction: column;
    justify-content:space-between;
    margin:0 auto ;     
}
 
.header{   
    z-index: 999;    
    padding: 3px 23px 34px 23px;   
    background-color:var(--color-bg-main);
    color: var(--color-text-layout);    
    border-top: 2px solid var(--color-header-border);    
}

.navContainer{    
    display: flex;
    justify-content: space-between;    
    list-style: none; 
    max-width: 100vw; 
}

.link {
  display:flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: var(--color-text-layout);
  font-size: 10px;
}

.icon {
  width: 32px;
  height: 32px;
  transition: opacity .15s ease, transform .15s ease;
}

.iconHover { 
    display: none;
    opacity: 0; 
}


.link:hover .iconDefault { 
    display: none; 
    opacity: 0; 
}
.link:hover .iconHover  { 
    display: inline-block;
    opacity: 1; 
    /* transform: scale(1.05);  */
}
.link:hover .text { 
    color: var(--color-text-active);     
}
.addBorsch{
    background-color: var(--color-add-btn);
    border-radius: 50%;
    display: flex;
    align-items:  center;
    justify-content: center;
    padding: 10px;
    margin-top: -12px;
}
.addBorsch:hover{
    background-color: var(--color-add-btn-active);
}
.active .iconDefault {
  display: none;
  opacity: 0;
}

.active .iconHover {
  display: inline-block;
  opacity: 1;
}

.active .text {
  color: var(--color-text-active);
}
/* @media (min-width: 768px) and (max-width: 1440px) {
    .navContainer{       
        min-width: 768px;  
    }
    .link{    
        gap: 10px;    
        font-size: 30px;     
    }
}

@media (min-width: 1440px) {
    .navContainer{       
        min-width: 1440px;  
    }
    .link{    
        gap: 10px;    
        font-size: 30px;     
    }
} */