.inputGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.inputLabel {
    position: absolute;
    top: -12px;
    left: 20px;
    display: block;
    background-color: var(--color-bg-grey);
    padding: 0 5px;
    z-index: 1;
}

.inputWrapper {
    margin-bottom: 24px;
    position: relative;
    width: 100%;
}

.inputField {
    background-color: inherit;
    border-radius: 24px;
    border: 1px solid var(--color-text-main);
    padding: 13px 40px 13px 24px;
    width: 100%;
}

.inputField:focus,
.inputField:hover,
.inputFieldActive {
    border-color: var(--color-input-active);
}

.icon {
    position: absolute;
    right: 17px;
    top: 50%;
    transform: translateY(-50%);
    width: 19px;
    height: 18px;
    color: var(--color-text-main);
    transition: fill 0.2s ease-in-out;
}

.iconActive {
    color: var(--color-text-btn);
}