@use "../../styles/mixin_font.scss" as *;
.cardFilters{
  background-color: var(--color-text-btn-active);
  width: 100vw;
  height: 100vh;    
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: left;
  z-index: 100; 
      
}

.btnClose{
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
}
.title{
  margin-top: 45px;
  text-align: center;
  color: var(--color-text-btn);
  @include mobileH2;
}
.boxForm{
  padding: 0 16px;
      
}
.typeTitle{
  @include mobileH4;
  color: var(--color-text-btn);
  margin: 30px 0;
}

.radioBox{
  display: flex;
  flex-direction: column;
  gap: 12px;
  border-bottom: 1px solid var( --color-text-main);
  padding: 0 0 20px 0;
}
.radioItem {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  @include footnote;
  color: var(--color-text-btn);   
}

.radioItem input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;  
}

.meatOptions {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  border-bottom: 1px solid var( --color-text-main);
  padding-bottom: 20px;
}

.meatButton {
  padding: 6px 8px;
  border: 2px solid var(--color-filter-btn);
  background-color:var(--color-text-btn-active);
  color:var(--color-text-btn);
  border-radius: 24px;
  cursor: pointer;
  @include caption;
  color: var(--color-text-btn);
  transition: all 0.2s ease;
}

.meatButton:hover {
  opacity: 0.85;
}

.activeMeatButton {
  background-color: var(--color-text-active);
  color:var(--color-text-btn-active);
  border-color: var(--color-text-active);
}

.priceFields {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-bottom: 20px;
}

.priceField {
  flex: 1;
  padding: 16px 24px;
  border: 1px solid var(--color-text-main);
  border-radius: 24px;
  @include body;
  color: var(--color-text-btn);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:var( --color-text-btn-active);
  min-width: 80px;
}


.sliderWrapper {
  position: relative;
  height: 30px;
  padding-bottom: 20px;
}

.track {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 8px;
  background: var(--color-bg-grey);
  transform: translateY(-50%);
  border-radius: 2px;
  z-index: 1;
}

.trackActive {
  position: absolute;
  height: 8px;
  background: var( --color-add-btn-active);
  border-radius: 2px;
  z-index: 2;
}

.rangeWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  pointer-events: none; /* чтобы внутрь проходили клики только по input */
}

.rangeWrapper input[type="range"] {
  pointer-events: auto; /* активируем клики */
}

.range {
  appearance: none;
  width: 100%;
  height: 30px;
  background: none;
  position: relative;
  /* prevent browser gestures interfering with dragging */
  touch-action: none;
}

.range::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 6px;
  height: 25px;
  background: var( --color-text-active);
  border: 2px solid var( --color-text-active);
  border-radius: 2px;
  cursor: pointer;
}

.range::-moz-range-thumb {
  width: 4px;
  height: 20px;
  background: var( --color-input-active);
  border: 2px solid var( --color-input-active);
  border-radius: 2px;
  cursor: pointer;
}


.boxBtnSubmit{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 18px;    
}
.btnSubmit{
  padding:14px;
  border-radius: 24px;
  background-color: var( --color-text-active);
  color:var(--color-text-btn-active);
  border: none;
  @include button;
  cursor: pointer;                           
}
.btnSubmitInl{
  padding:14px;
  border-radius: 24px;
  background-color: var(--color-text-btn-active);
  color:var(--color-text-btn);
  border: none;    
  @include button;
  cursor: pointer;                           
}
.btnSubmit:hover,.btnSubmitInl:hover{
  border: 1px solid var( --color-text-main);
}