@use "../../styles/mixin_font.scss" as *;
.wrapp{
  position: relative;
  padding: 16px;
}
.back{
  position: absolute;
  top:20px;
}
.contentImg{
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.2);  
  padding: 8px;  
  border-radius:  0 0 12px 12px;
  position: absolute;
  width: 92%;
  top:182px;
}

.nameBox1{
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.nameBox2{
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.textName{
  @include footnote;
  color: var(--color-text-btn-active); 
}

.title{
  text-align: center;
  margin-top: 16px;
  @include mobileH3;
  color: var(--color-text-btn);
}

.commentBlock {
  margin: 20px 0;
}
.commentBlock label{
  display: none;
}

.textarea {
  width: 100%;
  min-height: 80px;
  resize: vertical;
  padding: 16px;
  @include caption;
  color: var(--color-text-main);
  background-color: var(--color-grey-400);
  border: 1px solid  var(--color-grey-400);
  border-radius: 8px;
}

.textarea::placeholder{
  @include caption;
  color: var(--color-text-main);
}

