:root {   
    --color-text-main: #878787;
    --color-text-active:#638758;
    --color-text-btn:#1A1A1A;
    --color-text-btn-active:#FFFFFF;
    --color-bg-main:#F9F9F9;
    --color-text-grade:#A6A6A6;
    --color-add-btn:#b9f4a8; 
    --color-filter-btn:#DD9755;   
}

body {
    text-decoration: none;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}
  
ul {
    list-style: none;
}
  
h1,
h2,
h3,
ul,
li,
p,
a {
    margin: 0; 
    padding: 0; 
}
  
a {
    outline: 0;
    text-decoration: none;
}  

button{
    padding: 0;
}

