@use "../../styles/mixin_font.scss" as *;
@use "../../styles/mixin_adaptiv.scss" as *;

.back{
    position: absolute;
    top:20px;
    left: 17px;
    @include respond(desktop) {
        display: none;
    }
}

.infoContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    border: 1px solid var(--color-input-active);
    border-radius: 14px;
    margin: 24px 0;
    padding: 16px;
}

