@use "../../styles//mixin_font.scss" as *;
.pageList{
    display: flex;
    justify-content: center; 
    margin:0 auto ; 
    background-color:var(--color-bg-main); 
    height: 100vh; 
    overflow: hidden;
}
.btnWrap{
    position: absolute;
    z-index: 99;
    top:90px;
    display: flex;   
    background-color: var(--color-text-btn-active);
    border-radius: 14px;
    padding: 3px;   
}
.btn_base{
    @include button;
    padding:14px 20px;
    width: 170px;
    border-radius: 14px;
    list-style: none;    
    text-align:center;
    text-decoration: none;  
}
.btn{
    @extend .btn_base;
    background-color: var(--color-text-active); 
    color:var( --color-text-btn-active);       
}

.btn_inl{
   @extend .btn_base;
    background-color: var(--color-text-btn-active);
    color:var( --color-text);
}

.btn_inl:hover,.btn:hover {
    cursor: pointer;    
}


.borsch{
    text-align: center;
    position: absolute;
    z-index: 99; 
    top: 145px;  
    padding: 10px; 
    border-radius: 14px;
    @include footnote;     
    color:var( --color-text-btn); 
    background-color: var(--color-text-btn-active);    
}
.wrappBorsch{
    margin-top: 210px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    overflow-y: auto;
    scrollbar-width: none;
    width: 100%;
    padding: 0 16px;
}
.card{
    position: relative;
    background-color: var(--color-text-btn-active);
    border-radius: 12px;
    padding: 6px;  
}

.flex{
    display: flex;
    justify-content: space-between;
    margin:10px 0;   
}
.borschName{
    @include footnote;
    color: var(--color-text-btn);
}
.borschPrice{
    @include caption;
    color: var(--color-text-main);
}
.namePlace{
    @include caption;
    color: var(--color-text-btn);
}
.box{
    position: absolute;
    right: 10px;
    top: 10px;    
    display:flex;    
    justify-content: center;
    align-items: center;
    gap:8px;
    z-index: 999;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;  
}